.sidenavlinkadmin{
    /* background-color:; */
    padding : 12px;
    padding-left: 16px;
    margin : 4px;
    border-radius: 4px;

}
.sidenavlinkadmin:hover{
    background-color:#8cc8fc;
    

}

.dashlinkcontainer{
   /* background-color: #dfe3f1; */
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   height: 100vh;
   position : fixed;
   width : 200px
}