.eachorderbox{
   margin: 20px;
   padding: 20px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.littlebold{
    font-size : 18px;
    font-weight: 600;
}
.statusnew{
    background-color: red;
}
.statusorderaccepted{
    background-color: aqua;
}
.statusdeliver{
    background-color: brown;
}
.statusdelivered{
    background-color: chartreuse;
}
.paddingbox{
    padding: 4px;

}
.radius4{
    border-radius: 4px;
}

.marginbottom10{
    margin-bottom: 10px;
}
.orderfilter{
    width: 50%;
    max-width: 200px;
}