.registercontainer{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding-bottom: 40px;
}
.registercontainer > input {
    margin-bottom: 12px;
}
.registerbutton{
    width: 100%;
    /* background-color: blue; */
}
.headingbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}