*{
    padding: 0px;
    margin: 0px;
}
.productcard > img{
    width: 200px;
}
.productcard{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 2px solid #fc8181;
    margin: 10px;
}

.productcard:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 12px;
}


.bottomcard{
    /* margin-top: 20px; */
    margin: auto auto 10px auto ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #fc8181;
    /* bottom: 10px; */

}

.addtocartbutton{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.addtocartwithsymbol{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 5px;
    border-radius: 4px;
    color: white;
    min-width: 80px;
    justify-content: space-around;
}

.increasedecrease{
    cursor: pointer;
}