#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#navbar>a>img{
    width: 15%
}

#navbar > div{
    display: flex;
    gap: 10px;
}

#navbar button {
    border-radius: 10px;
    padding: 0px 30px;
    margin: 0px 20px;
}



@media (max-width:600px){
    #navbar>a>img{
        width: 55%
    }
}