#navbar{
    
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navcontainer{
    
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* padding: 0px 10%; */
}

#navbar>a>img{
    width: 15%
    
}

.loginregister{
    display: flex;
    gap: 10px;
}

#navbar button {
    border-radius: 10px;
    padding: 0px 30px;
    margin: 0px 20px;
}

.sidenavdiv{
    padding: 10px;
    border-radius: 1%;
    margin: 4px 0px;
}
.sidenavdiv:hover{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media (max-width:600px){
    #navbar>a>img{
        width: 55%
    }
}